@tailwind base;
@tailwind components;
@tailwind utilities;

/* Rokh font */
@font-face {
    font-family: rokh-bold;
    src: url(./assets/fonts/rokh/RokhFaNum-Bold.ttf);
}

@font-face {
    font-family: rokh-semibold;
    src: url(./assets/fonts/rokh/RokhFaNum-SemiBold.ttf);
}

@font-face {
    font-family: rokh-regular;
    src: url(./assets/fonts/rokh/RokhFaNum-Regular.ttf);
}

/* iransans font */
@font-face {
    font-family: sans-bold;
    src: url(./assets/fonts/iransans/IRANSansXFaNum-Bold.woff);
}

@font-face {
    font-family: sans-semibold;
    src: url(./assets/fonts/iransans/IRANSansXFaNum-SemiBold.woff);
}

@font-face {
    font-family: sans-regular;
    src: url(./assets/fonts/iransans/IRANSansXFaNum-Regular.woff);
}

* {
    scroll-behavior: smooth;
    font-family: sans-regular;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #E8E8F4;
}

::-webkit-scrollbar-thumb {
    background: #6c66a7;
    border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
    background: #4B429F;
}

.active {
    background-color: #d0aaf8;
    color: white;
    font-family: sans-bold;
}

input[type="radio"] {
    background-color: #d0aaf8;
    border-color: #d0aaf8;
}

input[type="radio"]:checked {
    background-color: #4B429F;
    border-color: #4B429F;
}

.ql-picker-label {
    cursor: pointer;
    display: inline-block;
    height: 100%;
    padding-left: 8px;
    padding-right: 2px;
    position: relative;
    width: 100%;
    direction: initial;
}

.ql-container {
    height: fit-content;
}

@layer base {

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }
}
